form{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto
}

table{
    background-color: rgb(70, 113, 124);
    color: rgb(255, 255, 255);
    border-collapse: collapse;
    width: 80%;
    opacity: 90%;
    align-items: center;    
    text-align: center;
    border: 1px solid white;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}
#header{
    background-color: black;
    -webkit-text-stroke: rgb(247, 247, 247) 0.1px;
}
tr{
    transition: all .2s ease-in;
}
th, td{
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}